.container {
  background-color: var(--background-translucent);
  place-self: center;
  padding: 1rem;
  margin-bottom: 2rem;
  max-width: 800px;
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  @media only screen and (max-width: 992px) {
    max-width: max-content;
    margin: 0 10% 2rem 10%;
    @media only screen and (max-width: 470px) {
      margin: 0 3% 2rem 3%;
    }
  }
}
.container:hover {
  cursor: pointer;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.img {
  height: 200px;
  border-radius: 8px;
  @media only screen and (max-width: 992px) {
    display: none;
  }
}
.name {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 16px;
  margin: 0;
  @media only screen and (max-width: 700px) {
    font-size: 35px;
    letter-spacing: 12px;
  }
}
.description {
  font-weight: 400;
  font-style: italic;
}
