.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-header);
  padding: 1rem 0;
  border-bottom: inset;
}
.logo {
  height: 24px;
  align-items: center;
  white-space: nowrap;
  margin-right: 0.5rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  margin: 0 10%;
  @media only screen and (max-width: 700px) {
    margin: 0 5%;
    flex-direction: column;
    gap: 1rem;
  }
}
.logoContainer,
.navContainer {
  display: flex;
  line-height: 2rem;
  gap: 1rem;
}
.navContainer {
  @media only screen and (max-width: 700px) {
    margin-left: auto;
  }
}
