:root {
  --background: hsl(0, 0%, 100%);
  --background-header: hsl(0, 0%, 98%);
  --background-footer: hsl(0, 0%, 98%);
  --background-translucent: rgba(255, 255, 255, 0.6);
  --background-transparent: rgba(255, 255, 255, 0);

  --font-color: hsla(42, 65%, 10%, 1);
  --font-color-light: hsl(41, 53%, 25%);

  --font-family: "Montserrat", sans-serif;

  font-family: var(--font-family);
  color: var(--font-color);
}
#root {
  width: 100%;
}
a {
  font-weight: 600;
  color: var(--font-color-light);
  text-decoration: none;
}
a:hover {
  color: var(--font-color);
}
.modal {
  display: none;
  background-color: var(--background-translucent);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
  position: fixed;
  top: 20%;
  z-index: 10;
  min-width: 250px;
}
body {
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
  background: hsla(0, 0%, 0%, 0.2) url("/assets/mars-colony2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.transparent-background {
  background-color: var(--background-transparent);
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--background);
  }
}
