:root {
  --background: hsl(0, 0%, 100%);
  --background-header: hsl(0, 0%, 98%);

  --font-color: hsla(42, 65%, 10%, 1);
  --font-color-light: hsl(41, 53%, 25%);

  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
}
#root {
  width: 100%;
}
a {
  font-weight: 600;
  color: var(--font-color-light);
  text-decoration: none;
}
a:hover {
  color: var(--font-color);
}

body {
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  min-height: 90%;
  background: hsla(0, 0%, 0%, 0.2) url("/public/assets/mars-colony2.jpg");
  background-size: cover;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--background);
  }
}
